

h1 {

}

.movieTitle {
  font-family: Arial;
  font-variant: all-petite-caps;
  font-size: 100px;
  position: fixed;
  bottom: 10px;
  text-align: center;
  margin: auto;

}

h2 {
  font-family: Trebuchet MS;
  font-variant: all-small-caps;
  font-size: 30px;
  font-stretch: expanded;
  letter-spacing: 5px;
}

h4 {

}

h4 {
  font-variant: all-small-caps;
  font-stretch: condensed;
}

div {
  text-align: center;
}
