/* Global styles */
body {
  background-color: slategray;
  height: 100%;
  color: #ffffff;
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

